GCP_PROJECT_NUMBER="GCP_PROJECT_NUMBER"
GCP_PROJECT_ID="GCP_PROJECT_ID"
GCP_REGION="GCP_REGION"
GCP_TASKS_HOST="GCP_TASKS_HOST"
GCP_TASKS_SERVICE_ACCOUNT="GCP_TASKS_SERVICE_ACCOUNT"
DATABASE_URL="DATABASE_URL"
DIRECT_URL="DIRECT_URL"
PUBLIC_JWT_SECRET="your-secret-key-here-minimum-32-characters-long"
UPSTASH_REDIS_REST_URL="UPSTASH_REDIS_REST_URL"
UPSTASH_REDIS_REST_TOKEN="UPSTASH_REDIS_REST_TOKEN"
