GCP_PROJECT_NUMBER="GCP_PROJECT_NUMBER"
GCP_PROJECT_ID='GCP_PROJECT_ID'
GCP_REGION='GCP_REGION'
GCP_TASKS_HOST='GCP_TASKS_HOST'
GCP_TASKS_SERVICE_ACCOUNT='GCP_TASKS_SERVICE_ACCOUNT
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME?schema=public"
PUBLIC_JWT_SECRET="your-secret-key-here-minimum-32-characters-long"
